<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TotalTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TotalTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.1.0" newVersion="108.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TotalTagger.Properties.Settings>
      <setting name="AudioDBUrl" serializeAs="String">
        <value>http://theaudiodb.com/api/v1/json/195003/searchtrack.php?s=</value>
      </setting>
      <setting name="LastFMTrackSearchUrl" serializeAs="String">
        <value>http://ws.audioscrobbler.com/2.0/?method=track.search&amp;api_key=</value>
      </setting>
      <setting name="MBBaseUrl" serializeAs="String">
        <value>MetaBrainz.MusicBrainz</value>
      </setting>
      <setting name="MBRecordingUrl" serializeAs="String">
        <value>https://musicbrainz.org/ws/2/recording/?query=</value>
      </setting>
      <setting name="SpotifyBaseAddress" serializeAs="String">
        <value>https://developer.spotify.com/web-api/</value>
      </setting>
      <setting name="DiscogsRequestTokenUrl" serializeAs="String">
        <value>https://api.discogs.com/oauth/request_token</value>
      </setting>
      <setting name="DiscogsAuthorizeUrl" serializeAs="String">
        <value>https://www.discogs.com/oauth/authorize</value>
      </setting>
      <setting name="DiscogsAccessTokenUrl" serializeAs="String">
        <value>https://api.discogs.com/oauth/access_token</value>
      </setting>
      <setting name="LastFMAlbumGetInto" serializeAs="String">
        <value>http://ws.audioscrobbler.com/2.0/?method=album.getinfo&amp;api_key=</value>
      </setting>
      <setting name="LastFMTrackGetInfo" serializeAs="String">
        <value>http://ws.audioscrobbler.com/2.0/?method=track.getinfo&amp;api_key=</value>
      </setting>
      <setting name="LastFMArtistTopAlbums" serializeAs="String">
        <value>http://ws.audioscrobbler.com/2.0/?method=artist.gettopalbums&amp;api_key=</value>
      </setting>
      <setting name="NapsterURL" serializeAs="String">
        <value>http://api.rhapsody.com/v2/search?q=%SEARCHTERM%&amp;include=genres&amp;type=track&amp;limit=%LIMIT%&amp;apikey=%APIKEY%</value>
      </setting>
      <setting name="ITunesURL" serializeAs="String">
        <value>http://itunes.apple.com/search?term=%SEARCHTERM%&amp;media=music&amp;limit=1</value>
      </setting>
      <setting name="DeezerURL" serializeAs="String">
        <value>http://api.deezer.com/search?q=artist:%SEARCHARTIST%track:%SEARCHTITLE%&amp;limit=%LIMIT%&amp;order=RANKING</value>
      </setting>
      <setting name="GalibooUrl" serializeAs="String">
        <value>http://secure.galiboo.com/api/metadata/tracks/search/?token=%APIKEY%&amp;track=%SEARCHTITLE%</value>
      </setting>
      <setting name="GalibooUrlArtist" serializeAs="String">
        <value>http://secure.galiboo.com/api/metadata/tracks/search/?token=%APIKEY%&amp;artist=%SEARCHARTIST%</value>
      </setting>
      <setting name="GeniusURL" serializeAs="String">
        <value>https://api.genius.com/search?q=%SEARCHTERM%&amp;access_token=%APIKEY%&amp;text_format=plain</value>
      </setting>
    </TotalTagger.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TotalTagger.Properties.Settings>
      <setting name="MBUserAgentUrl" serializeAs="String">
        <value>https://github.com/Zastai/MusicBrainz</value>
      </setting>
      <setting name="MBVersion" serializeAs="String">
        <value>1.2.0.0</value>
      </setting>
      <setting name="MBReleaseUrl" serializeAs="String">
        <value>https://musicbrainz.org/ws/2/release/?query=</value>
      </setting>
    </TotalTagger.Properties.Settings>
  </userSettings>
</configuration>
